{% extends 'layout.html' %}
{% block main %}
<header class="bar bar-nav">
  <h1 class="title">Complete your Profile</h1>
</header>

<div class="content">
  <div class="content-padded">
    <h3>What fields are you active in?</h3>
  </div>

  <div class="card">
    <ul class="table-view">
      <li class="table-view-cell">
        Graphic Design
        <div class="toggle push-right">
          <div class="toggle-handle"></div>
        </div>
      </li>
      <li class="table-view-cell">
        Programming
        <div class="toggle push-right">
          <div class="toggle-handle"></div>
        </div>
      </li>
      <li class="table-view-cell">
        Hardware / Electronics
        <div class="toggle push-right">
          <div class="toggle-handle"></div>
        </div>
      </li>
      <li class="table-view-cell">
        Arts & Crafts
        <div class="toggle push-right">
          <div class="toggle-handle"></div>
        </div>
      </li>
      <li class="table-view-cell">
        Marketing / Communications
        <div class="toggle push-right">
          <div class="toggle-handle"></div>
        </div>
      </li>
      <li class="table-view-cell">
        Business
        <div class="toggle push-right">
          <div class="toggle-handle"></div>
        </div>
      </li>
    </ul>
  </div>

  <div class="content-padded">
    <a class="btn btn-primary btn-block" href="search.html" data-transition="fade">OK</a>
  </div>
</div>

{% endblock %}
