{% extends 'layout.html' %}
{% block main %}

<header class="bar bar-nav">
  <h1 class="title">Connect Facebook</h1>
</header>

<div class="content">
  <div class="content-padded">
    <h1 id="#betahaus-logo">Connect your Facebook</h1>
    <p>Welcome, <b>{{user.email}}!</b> Here some explanation of the benefits of connecting Facebook.</p>
    <a class="btn btn-primary btn-block" href="complete-profile.html?token={{token.access_token}}">FB Login</a>
    <a class="btn btn-block" href="complete-profile.html?token={{token.access_token}}">Skip</a>
  </div>
</div>

{% endblock %}
