<!DOCTYPE html>
<html>
  <head>
    <title>Betahaus Members</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="/static/css/ratchet.css">
    <link rel="stylesheet" href="/static/css/ratchet-theme-ios.css">
    <link rel="stylesheet" href="/static/css/betahaus.css">
    
    <script src="/static/js/ratchet.js"></script>
    <script src="/static/js/fingerblast.js"></script>
    <script src="//use.typekit.net/tfu8kkz.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body class="tk-museo-sans">
    {% block main %}{% endblock %}
    <script>new FingerBlast("body");</script>
  </body>
</html>
