{% extends 'layout.html' %}
{% block main %}
<header class="bar bar-nav">
  <h1 class="title">People in Betahaus</h1>
</header>

<div class="content">
  <div class="content-padded">
    <form>
      <input type="search" name="q" placeholder="Search">
    </form>
  </div>

  <ul class="table-view">
    {% for p in people %}
    <li class="table-view-cell media">
      <a class="navigate-right">
        <img class="media-object pull-left" src="{% if p.user.picture %}{{p.user.picture}}{% else %}http://placehold.it/120x120{% endif %}">
        <div class="media-body">
          <h3>{{p.name}}</h3>
          <div class="tags">
            <span class="btn btn-primary tag">Graphic Design</span>
          </div>
          <p>{{p.user.email}}</p>
        </div>
      </a>
    </li>
    {% endfor %}
    
  </ul>
</div>

{% endblock %}
